/*############################################
###############__Game-Board__#################
############################################*/

#gameBoard{
  height:500px;
  width:500px;
}

.row{
  height:33%;
}
.space {
  width:32%;
  height:99%;
  float:left;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  margin:auto;
}
